.bar{
    color: rgb(75, 74, 74);
}
.col-lg-6 .part1{
    margin-top: 50px;
}
.www{
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin-bottom:10px;
}
.h1{
    margin-top: 20px;
}
.third{
    display: flex;
}
.card{
    margin-top: 20px;
}